<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Centurion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B2BC37B20A9512A008B112F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B2BC38F20A9512C008B112F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B2BC39A20A9512C008B112F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
